* {margin:auto 0;}

body{
	font-family: 'Raleway', sans-serif;
}

.float {float:left;}

h1 { 
	font-size:25px;
	text-align: right;
	line-height:1.2em;
	font-family: 'Gravitas One', cursive;
	letter-spacing: 1.5px;
}

p {
	padding:5%;
	text-align: right;
	font-family: 'Raleway', sans-serif;
}


h2 {
	font-size:35px;
	
	font-family: 'Gravitas One', cursive;
	letter-spacing:1.5px;
	padding-bottom: 2.5%;
	padding-left:5%;
	padding-top: 2.5%;
	}
	
h3 {
	font-size: 30px;
	font-family: 'gravits one';
	padding-bottom: 1.5%;
	padding-left: 5%;
}	

a:hover {
	background-color:#000000;
	color: #ffffff;
}

a:hover h2 {
	background-color:#000000;
	color: #ffffff;
	-webkit-text-decoration: line-through orange;
}	

a:hover h1 {
	background-color:#000000;
	color: #ffffff;
}	

a {
	text-decoration: none;
	color: black
}









.subnav

	/*grid system*/
	.col1{width:10%; }
	.col2{width:20%; }
	.col3{width:30%; }
	.col4{width:40%; }
	.col5{width:50%; }
	.col6{width:60%; }
	.col7{width:70%; }
	.col8{width:80%; }
	.col9{width:90%; }
	.col10{width:100%; }
	
	.indent{margin-left:5%; }	
	.indent1{margin-left:10%; }
	.indent2{margin-left:20%; }
	.indent3{margin-left:30%; }
	.indent4{margin-left:40%; }
	.indent5{margin-left:50%; }
	.indent6{margin-left:60%; }
	.indent7{margin-left:70%; }
	.indent8{margin-left:80%; }
	.indent9{margin-left:90%; }
	.indent10{margin-left:100%; }
	
	/*lists*/
	ul{margin:0; padding:0; }
	ul li {display:inline; margin:0 1em 0 0; }
	
	
	
	/*style*/
	header{ margin:3em 0 6em 0; }
	aside{margin:2em 0 1em 0; }
	footer{clear:left; margin-top:6em; padding:3em 0 3em 0; }
	img{max-width:100%; margin:2em .5em .5em 0; }
	figcaption{margin-bottom:3em; }
	
	.space{margin-top:3em; margin-bottom:1em; font-style:italic; }
	.desc{margin-left:7em; }
	.post{position:absolute; }

	.name.sticky{position:fixed; top:1em; z-index:999; }
	.page.sticky{position:fixed; top:1em; z-index:999; }
	
	.border{border-top:1px solid black; padding:1em 0 1em 0; }
	.subnav{position:fixed; padding:1em 1em 0 0em; }
	.subnav .left{text-align:right; }
	.subnav .right{text-align:right; padding-left:3.5em; }
	
	/*mobile*/
	@media screen and (max-width: 600px) {
    .col1{width:90%; }
	.col2{width:90%; }
	.col3{width:90%; }
	.col4{width:90%; }
	.col5{width:90%; }
	.col6{width:90%; }
	.col7{width:90%; }
	.col8{width:90%; }
	.col9{width:90%; }
	.col10{width:90%; }
		
	.indent{margin-left:0%;}
	.indent1{margin-left:5%; margin-right:5%; }
	.indent2{margin-left:5%; margin-right:5%; }
	.indent3{margin-left:5%; margin-right:5%; }
	.indent4{margin-left:5%; margin-right:5%; }
	.indent5{margin-left:5%; margin-right:5%; }
	.indent6{margin-left:5%; margin-right:5%; }
	.indent7{margin-left:5%; margin-right:5%; }
	.indent8{margin-left:5%; margin-right:5%; }
	.indent9{margin-left:5%; margin-right:5%; }
	.indent10{margin-left:5%; margin-right:5%; }
	
	h2,h3{font-size:2em; }
	.desc{margin:5%; }
	.page.sticky{position:fixed; top:2.5em; }
	.subnav .col4{width:40%; margin-left:5%; margin-right:5%; }
}